@model App.Models.Designacao

@{
    ViewData["Title"] = "Details";
}

<h1>
    <i class="bi bi-card-text"></i> Designação @Model.Situacao
</h1>
<input type='hidden' asp-for='Tipo'>

<div class='card'>
    <div class='card-body'>

        <div class='d-flex justify-content-between'>

            <a asp-action="Index" class='btn btn-light'><i class="bi bi-arrow-left"></i>  Voltar</a>


            <a asp-action='Substituir' asp-route-id='@Model.Id' class='btn btn-light'>
                <i class="bi bi-recycle"></i> Substituir
            </a>

            <a asp-action="Edit" asp-route-id="@Model.Id" class='btn btn-light'><i class="bi bi-pen"></i> Editar </a>
            
        </div>

        <div class='d-flex justify-content-center'>

            <div class='card card-designacao' id='divDesignacao'>

                <div class='card-body'>

                    <h1 class='titulo-designacao'>
                        DESIGNAÇÃO PARA A REUNIÃO <br>
                        NOSSA VIDA E MINISTÉRIO CRISTÃO
                    </h1>


                    <p class="d-flex">
                        <strong class='mr-2'>Nome: </strong>
                        <span class='linha-pontilhada flex-grow-1'>
                            <span class="ms-2">
                                @Model.Designado.Nome
                            </span>
                        </span>
                    </p>

                    <p class='d-flex'>
                        <strong class='mr-2'>Ajudante: </strong>
                        <span class='linha-pontilhada flex-grow-1'>
                            <span class="ms-2">
                                @Model.Ajudante?.Nome
                            </span>
                        </span>
                    </p>

                    <p class='d-flex'>
                        <strong class='mr-2'>Data: </strong>
                        <span class='linha-pontilhada flex-grow-1'>
                            <span class="ms-2">
                                @Model.Data.ToShortDateString()
                            </span>
                        </span>
                    </p>

                    <br>
                    <strong>
                        Designação:
                    </strong>

                    <div class='row'>
                        <div class='col ml-4'>

                            <div class="form-check">
                                <input class="form-check-input check-tipo" name='Tipo' type='checkbox' value='Leitura'>
                                <label class="form-check-label" for=''>
                                    Leitura da Bíblia
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input check-tipo" name='Tipo' type='checkbox'
                                    value='Primeira Conversa'>
                                <label class="form-check-label" for=''>
                                    Primeira Conversa
                                </label>

                                <div class='d-flex'>
                                    <span></span>
                                    <span class='linha-pontilhada flex-grow-1 observacao'>
                                        @Model.Observacao
                                    </span>
                                </div>

                            </div>

                            <div class="form-check">
                                <input class="form-check-input check-tipo" name='Tipo' type='checkbox' value='Revisita'>
                                <label class="form-check-label" for=''>
                                    Revisita
                                </label>

                                <div class='d-flex'>
                                    <span></span>
                                    <span class='linha-pontilhada flex-grow-1 observacao'>
                                        @Model.Observacao
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class='col'>

                            @* <div class="form-check">
                            <input class="form-check-input check-tipo" name='Tipo' type='checkbox' value='Convite da
                            Celebração'>
                            <label class="form-check-label" for=''>
                            Convite da Celebração
                            </label>
                            </div> *@

                            <div class="form-check">
                                <input class="form-check-input check-tipo" name='Tipo' type='checkbox'
                                    value='Estudo Bíblico'>
                                <label class="form-check-label" for=''>
                                    Estudo Bíblico
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input check-tipo" name='Tipo' type='checkbox' value='Discurso'>
                                <label class="form-check-label" for=''>
                                    Discurso
                                </label>
                            </div>

                        </div>
                    </div>

                    <br>
                    <strong>
                        A ser feito(a) no(a):
                    </strong>

                    <div class='ml-4'>
                        <div class="form-check">
                            <input class="form-check-input" type='checkbox' checked>
                            <label class="form-check-label">
                                Salão Principal
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type='checkbox'>
                            <label class="form-check-label">
                                Sala B
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type='checkbox'>
                            <label class="form-check-label">
                                Sala C
                            </label>
                        </div>
                    </div>

                    <br>

                    <p>
                        <strong>Observação para o estudante: </strong>
                        A lição da brochura <i>Melhore</i> e a fonte de matéria para a sua designação estão na
                        <i>Apostila da Reunião Vida e Ministério</i>.
                        Estude a lição da brochura para saber como aplicar o ponto que você vai considerar.
                        <p />
                    <p class='mb-4'>
                        S-89-T 10/19
                    </p>

                    <br><br>

                </div>


            </div>
        </div>

        <div id='printDesignacao' class='d-none'></div>

        <div class="d-flex justify-content-center">
            <img id="imgDesignacao" class="card card-designacao">
        </div>

    </div>
</div>


@section scripts {
    <script src='~/js/html2canvas.js'></script>
    <script src="~/js/designacoes.js" asp-append-version="true"></script>
}