@model List<IGrouping<DateTime, App.Models.DesignacaoDTO>>

@{
    ViewData["Title"] = "Designações";
}

<div class='d-flex mb-2'>
    <h1 class="flex-grow-1">
        <i class="bi bi-card-text"></i> @ViewData["Title"]
    </h1>
    <div>
        <a asp-action="Create" class='btn btn-primary'> + Nova </a>
    </div>
</div>

<div class="accordion" id="accordionExample">

    @foreach (var grupo in Model)
    {
        var reff = grupo.FirstOrDefault();

        <div class="accordion-item">

            <div class="accordion-header d-flex">

                <button class='accordion-button @(!reff.SemanaAtual ? "collapsed" : "")' type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse-@reff.Id">
                    <i class="bi bi-calendar3 me-1"></i> 
                    @grupo.Key.ToString("dd 'd'e MMMM")
                </button>

            </div>

            <div id="collapse-@reff.Id" class='accordion-collapse collapse @(reff.SemanaAtual ? "show" : "")'
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class='list-group list-group-flush '>
                        @foreach (var designacao in grupo)
                        {
                            <a class='list-group-item list-group-item-action' asp-action='Details'
                                asp-route-id='@designacao.Id'>

                                <strong>
                                    @designacao.Tipo @designacao.Observacao
                                    <span class='text-danger'>@(designacao.EhSubstituicao ? "[Substituição]" : "")</span>
                                </strong>
                                <br>

                                <span class='text-muted'> @designacao.Designado @(!string.IsNullOrEmpty(designacao.Ajudante) ?
                            "e" : "") @designacao.Ajudante</span>
                            </a>
                        }
                        <a class='list-group-item' href='#'>
                            <button class='ml-auto btn btn-success' type="button" onclick="CopiarDesignacao(this)">
                                <i class="bi bi-copy"></i> 
                                Copiar
                            </button>

                            <textarea class='esconder'>
                                *@grupo.Key.ToString("dd 'd'e MMMM") - Designações dos estudantes*                   
                                @foreach (var designacao in grupo)
                                {
                                    @:*@designacao.Tipo @designacao.Observacao -* @designacao.Designado @(designacao.Ajudante != null ? $"e {designacao.Ajudante}" : "") @(designacao.EhSubstituicao ? "[Substituição]" : "")
                                }                    
                            </textarea>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
