@model IList<App.Models.DesignacaoDTO>

@{
    ViewData["Title"] = "Substituições";
}

<h1>
    🔃 @ViewData["Title"]
</h1>

<ul class='list-group list-group-flush mt-4'>

    @foreach (var designacao in Model)
    {
        <li class='list-group-item' asp-action='Details' asp-route-id='@designacao.Id'>

            <strong>
                @designacao.Data.ToShortDateString()
                @designacao.Tipo
            </strong>

            <br>

            <span class='text-muted'> 
                @designacao.Designado: @designacao.MotivoDaSubstituicao 
            </span>
        </li>
    }