@model IEnumerable<App.Models.PublicadorDTO>

@{
    ViewData["Title"] = "Publicadores";
}

<h1>    
    <a asp-action="Create" class='btn btn-primary'> + </a>
    👩👨 @ViewData["Title"]
</h1>

<p>
</p>
<table class="table montarDataTable">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Sexo
            </th>
            <th>
                Última Designação
            </th>
            <th>
                Última como Ajudante
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Nome
            </td>
            <td>
                @item.Sexo
            </td>

            <td>
                @item.DataDaUltimaDesignacao?.ToShortDateString()
            </td>

            <td>
                @item.DataDaUltimaDesignacaoComoAjudante?.ToShortDateString()
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action='ImpedidosDeFazerParte' class='btn btn-link mt-4'>
    Ver Publicadores Impedidos de Fazer Parte
</a>
